@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-primary {
    @apply bg-indigo-600 text-white font-semibold 
           py-3 px-6 rounded-xl 
           shadow-lg 
           transition duration-200 
           transform hover:-translate-y-1 hover:scale-105 
           hover:shadow-2xl;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 font-semibold 
           py-3 px-6 rounded-xl 
           transition duration-200 
           transform hover:scale-105;
  }
}
html {
  scroll-behavior: smooth;
}